<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{! <h1>Dynamic Content with Express!</h1> }}


    {{!-- <p>{{demo.name}} is {{demo.age}} years old.</p> --}}


    {{projects.name}}
    has the following skills :
    <br />
    {{#each projects.skills}}
      {{this}}
      <br />
    {{/each}}
  </body>
</html>